.container {
  display: flex;
  .nav-container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;

    gap: 2rem;
    font-size: 20px;
    background-color: rgb(244, 248, 255);
    text-align: right;
    margin-right: 60px;

    .title {
      background-color: rgb(207, 222, 248);
      padding: 15px;
    }
  }

  .nav-container a {
    text-decoration: none;
    color: rgb(67, 173, 249);
    font-weight: 900;
    padding-right: 40px;
  }

  .ans-container {
    flex: 1;

    padding: 20px;
    padding-top: 30px;
  }
}
